target
grobid-home/tmp
.DS_Store
Thumbs.db
.project
.settings
.classpath
.idea
.gradle
gradle
**/build
*/out/
*.iml
*.log
*.log.*
*.old
tei-alt
raw-alt
/log
/logs

dependency-reduced-pom.xml

grobid-core/dependency-reduced-pom.xml

grobid-core/src/test/resources/org/grobid/core/annotations/resTeiStAXParser/out.tei.xml

grobid-home/models/affiliation-address/model.crf.old

grobid-home/models/name/header/model.crf.old

build.xml

*/maven-build.properties
*/maven-build.xml
maven-build.xml
release.properties

